.header {
  display: flex;
  justify-content: space-between;

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    .fas {
      font-size: 15px;
    }
  }
}
