<%= link_to 'Back', root_path %>

<table>
  <thead>
    <tr>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    <% @purchasers.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= link_to 'Detalhes', purchaser_path(p.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
