// Define variables for your color scheme

// For example:
$black: #3f3f3f;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1fbb75;
$light-green: #d6fdf3;
$gray: #0E0000;
$medium-gray: #b3b3b3;
$light-gray: #F4F4F4;
$purple: #613DE6;
$light-purple: #EBE8FE;
