<div class="sidebar shadow-lg">
  <div class="sidebar-nav">
    <div class="btn btn-primary" data-toggle="modal" data-target="#importModal" title="Add Sales">
      <i class="fas fa-plus-circle"></i>
    </div>

    <%= link_to root_path do %>
      <i class="fas fa-dollar-sign" title="Company Sales"></i>
    <% end %>

    <%= link_to merchants_path do %>
      <i class="fas fa-store" title="Merchants"></i>
    <% end %>

    <%= link_to purchasers_path do %>
      <i class="fas fa-users" title="Purchasers"></i>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt" title="Logout"></i>
    <% end %>
  </div>
</div>
