<div class="modal fade import" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="upload-header">
          <i class="fas fa-cloud-upload-alt mr-2"></i>
          <h5 class="modal-title" id="importModalLabel">Import file</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag import_company_sales_path, multipart: true do %>
        <div class="modal-body">
          <div class="upload">
            <%= file_field_tag :file, required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Upload", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
