.session {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $light-purple;
  font-size: 14px;

  .session-card {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 8px 12px 8px rgba(116, 116, 116, 0.1);
    background-color: white;
  }
}
